<a href="https://colab.research.google.com/github/piapacanza/Tkinter/blob/master/6_pandas_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Missing Values

In this lecture, you will learn how could we remove or fill-in the empty values in our DataFrame

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

## Create a sample DataFrame with missing values

In [ ]:
data = {
    'A': [
        1,
        2,
        np.nan
    ],
    'B': [
        1,
        np.nan,
        np.nan
    ],
    'C': [
        1,
        2,
        3
    ]
}

In [ ]:
data

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

## Removing NaN

In [ ]:
"""
dropna

Signature: df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
Docstring:
Remove missing values.
"""

df.dropna()

In [ ]:
# Remove all columns with NaN
df.dropna(axis=1)

In [ ]:
# Remove all rows that doesn't contain atleast 2 values
df.dropna(thresh=1)

## Activity: Add a new column in our example DataFrame and remove all columns that doesn't contain atleast 3 values

In [ ]:
# your code goes here

## Fill NaN values

In [ ]:
# Review of our DataFrame
df

In [ ]:
df.fillna("FILL")