<a href="https://colab.research.google.com/github/piapacanza/Tkinter/blob/master/7_pandas_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas - Groupby

In this section, you will learn how we could group data from our DataFrame

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

## Our test data

In [ ]:
data = {
    "Person": ["Juan", "Maria", "Mark", "Luna", "Pedro"],
    "Company": ["FB", "GOG", "FB", "GOG", "INSTA"],
    "Sales": [700, 800, 400, 200, 700]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

## GroupBy

In [ ]:
companies_data = df.groupby(by="Company")

In [ ]:
companies_data.mean() # Compute mean of groups, excluding missing values.

In [ ]:
companies_data.sum()

In [ ]:
companies_data.std() # Compute standard deviation of groups, excluding missing values.

## One-liners

In [ ]:
df.groupby(by="Company").sum()

In [ ]:
# Getting specific cell
df.groupby(by="Company").sum().loc["FB"]

In [ ]:
# Counting rows
df.groupby(by="Company").count()

## Describing

In [ ]:
df.groupby(by="Company").describe()

## Transposing

In [ ]:
df.groupby(by="Company").describe().transpose()

## Activity: Create your own DataFrame
Create your own DataFrame and perform operations discussed.

In [ ]:
# your code goes here